* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Sidebar {
  background: rgb(19, 34, 43);
  width: 200px;
  height: 100%;
  position: fixed;
  color: white;
  padding-left: 20px;
  transition: width ease-in-out 500ms;
}

.Sidebar.sidebar-compress {
  width: 60px;
}

.Sidebar .sidebar-items {
  padding-top: 60px;
}

.Sidebar .sidebar-item.active {
  color: rgb(245, 135, 135);
  font-size: 18px;
}

.Sidebar i {
  font-size: 20px;
  cursor: pointer;
}

.Sidebar .sidebar-foot {
  position: absolute;
  bottom: 1%;
}

.Sidebar a {
  text-decoration: none;
  color: inherit;
}

.Sidebar .menu-bar {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  font-size: 25px;
}

.Sidebar.sidebar-compress .menu-bar {
  left: 35%;
}

.Sidebar.sidebar-compress p {
  opacity: 0;
}

.Routes {
  margin-left: 200px;
  padding: 2rem;
  transition: all ease-in-out 500ms;
}

.Routes.sidebar-compress {
  margin-left: 60px;
}
